@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --light-color: white;
  --backgrount-color: #229c9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.topSection {
  background-image: url(./assets/banner-bg1.png);
  background-size: cover;
  background-position: left;
  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
}

nav {
  display: grid;
  grid-template-columns: 4fr 3fr 4fr;
  padding: 3rem 2rem;
}

.brandLogo {
  background-color: var(--light-color);
  width: max-content;
  height: max-content;
  padding: 0 3px;
  border-radius: 0.2rem;
}

.flashSaleIcon {
  display: flex;
  justify-content: start;
  margin-left: 20%;
  align-items: end;
}

.saleTimerBox {
  align-self: flex-end;
  justify-self: center;
  height: max-content;
  width: max-content;
  color: var(--light-color);
  position: relative;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem 6rem;
  justify-content: center;
}

.saleTimerBox2 {
  align-self: flex-end;
  justify-self: center;
  color: var(--light-color);
  background-color: #2b252c;
  border-radius: 0.8rem;
  position: absolute;
  top: 10px;
  right: 15px;
  display: grid;
  grid-template-columns: 4rem 4rem 4rem 4rem;
  justify-content: center;
}

.horizontalLine {
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: var(--backgrount-color);
  width: 100%;
}

.saleTime {
  width: 6rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  background-image: repeating-linear-gradient(
    90deg,
    #2b252c 0%,
    #2b252c 99%,
    transparent 99%,
    transparent 100%
  );
}

.saleTime2 {
  /* width: 2rem; */
  height: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  background-color: #2b252c;
}

.saleTime2::after {
  content: ":";
  margin: 0 0.5rem;
  color: white;
}

.saleSeconds2 {
  border-top-right-radius: 0.8rem;
}

.saleSeconds2::after {
  content: none;
}

p {
  font-size: 1.5rem;
}

main section p:first-child {
  margin: 0 2rem 2rem 2rem;
  padding: 0 12rem;
  font-size: 2rem;
  color: var(--light-color);
  text-align: left;
}

.heroSection {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  grid-template-rows: 2fr 1fr;
}

.productViewBox {
  justify-self: end;
}

#productView {
  margin: 1rem 5rem 1rem 2rem;
  height: 30rem;
}

.productDescriptionBox {
  margin: 0 2rem;
  align-self: center;
}

.saleDays {
  border-radius: 0.6rem 0 0 0.6rem;
}

.saleSeconds {
  border-radius: 0 0.6rem 0.6rem 0rem;
}

.productImages {
  grid-column: span 2;
  display: flex;
  margin: 2rem 1rem 1rem 1rem;
  justify-content: center;
  gap: 1rem;
}

.saleDays::before {
  font-weight: 200;
  position: absolute;
  bottom: 3%;
  left: 9%;
  content: "Days";
  font-size: 8px;
}

.saleHours::before {
  font-weight: 200;
  position: absolute;
  bottom: 3%;
  left: 33%;
  content: "Hours";
  font-size: 8px;
}

.saleMinutes::before {
  font-weight: 200;
  position: absolute;
  bottom: 3%;
  left: 56%;
  content: "Minutes";
  font-size: 8px;
}

.saleSeconds::before {
  font-weight: 200;
  position: absolute;
  bottom: 3%;
  left: 80%;
  content: "Seconds";
  font-size: 8px;
}

.shopBtn {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background-color: #2b252c;
  border: none;
  border-radius: 0.8rem;
  padding: 1rem 2.5rem;
}

.upcomingSaleContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#upcomingSaleHeading {
  position: relative;
  font-size: 3rem;
  margin: 4rem 10rem;
  color: black;
}

#upcomingSaleHeading ::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -1.5rem;
  display: inline-block;
  margin: auto 0.4rem;

  background-color: #c3c3c3;
  border-radius: 0.2rem;
  width: 0.6rem;
  height: 2.5rem;
}

.upcomingSales {
  width: 45rem;
}

#productName {
  font-size: 3.5rem;
  color: white;
  font-weight: 400;
}

#currPrice {
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}

#originalPrice {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: 200;
  margin: 0 1rem;
}

#discount {
  font-size: 2.5rem;
  color: rgb(255, 40, 40);
  font-weight: 300;
  margin: 0 1rem;
}

#productDescription {
  width: 50rem;
  color: white;
  margin: 2rem 0 2rem 0;
}

.saleDays2::before {
  font-weight: 200;
  position: absolute;
  bottom: 0%;
  left: 4%;
  content: "Days";
  font-size: 6px;
}

.saleHours2::before {
  font-weight: 200;
  position: absolute;
  bottom: 0%;
  left: 28%;
  content: "Hours";
  font-size: 6px;
}

.saleMinutes2::before {
  font-weight: 200;
  position: absolute;
  bottom: 0%;
  left: 51%;
  content: "Minutes";
  font-size: 6px;
}

.saleSeconds2::before {
  font-weight: 200;
  position: absolute;
  bottom: 0%;
  left: 79%;
  content: "Seconds";
  font-size: 6px;
}

@media (max-width: 960px) {
  main section p:first-child {
    padding: 0 10% 0 10%;
    font-size: 1.5rem;
  }
}

@media (max-width: 780px) {
  .heroSection {
    column-gap: 0;
  }
  .productDescriptionBox {
    margin: 0;
  }
}

@media (max-width: 730px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    row-gap: 2rem;
  }
  .brandLogo {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
  }
  .flashSaleIcon {
    grid-column: 2/3;
    align-items: center;
  }
  .saleTimerBox {
    grid-row: 2/3;
    grid-column: span 2;
    justify-self: center;
  }

  .saleTimerBox2 {
    top: 8px;
    right: 12px;
  }

  main section p:first-child {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 0.2rem;
  }

  .upcomingSales {
    width: 35rem;
  }

  .brandLogo {
    justify-content: center;
  }
  .heroSection {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0;
  }
  .productViewBox {
    grid-row: 1/2;
    grid-column: span 2;
    justify-self: center;
  }

  .productImages {
    justify-content: center;
    grid-row: 2/3;
    grid-column: span 2;
  }

  .shoes {
    height: 5rem;
  }

  #currPrice,
  #originalPrice,
  #discount {
    font-size: 1.5 rem;
  }

  #productName {
    text-align: left;
    font-size: 2rem;
  }

  .productDescriptionBox {
    grid-row: 3/4;
    grid-column: span 2;
    margin: 0 3rem;
  }

  #productPriceContainer {
    display: flex;
    justify-content: left;
  }
  #productDescription {
    margin: 0 0 1rem 0;
    text-align: left;
    width: 85%;
    font-size: 1rem;
  }
  #productView {
    height: 12rem;
    margin: 1rem 2rem 1rem 2rem;
  }
}
